<!doctype html>

<html lang="en">

<head>

	<meta charset="utf-8">

	<title>Voorbeeld Project 1</title>

	<meta name="description" content="Voorbeeld pagina">

	<meta name="author" content="Voorbeeld">

	<meta name="viewport" content="width=device-width; initial-scale=1; maximum-scale=1">

	<link rel="stylesheet" href="../static/css/styles.css">

</head>

<body>

	<header>

		<!--<a href="base.html" id="logo"></a>-->

		<nav>

			<ul>

				<li><a href="base.html" class="verbruik"></a></li>
				<li><a href="base.html" class="logo"></a></li>
				<li><a href="base.html" class="settings"></a></li>

			</ul>

		</nav>

	</header>
</body>
</html>